In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
from IPython.display import Image
from fredapi import Fred

%matplotlib inline

In [174]:
fred = Fred(api_key='d19731bfe189a749611dfbace3924358')

# Daily Freq Data

In [181]:
stock_market = {'SP500': 'SP500'}

rates = {'DFF': 'Fed_Fund_Rate', 'DGS1MO':'Rate_1M','DGS3MO':'Rate_3M','DGS6MO':'Rate_6M','DGS1':'Rate_1Y','DGS2':'Rate_2Y',
            'DGS3':'Rate_3Y','DGS5':'Rate_5Y','DGS7':'Rate_7Y','DGS10':'Rate_10Y'}

VIX = {'VIXCLS':'VIX', 'VXVCLS':'VIX_3M'}

money_credit = {'T10Y2Y': 'Term_Spread',
                    'BAMLH0A0HYM2': 'HY_OAS', 'BAMLC0A0CM':'IG_OAS','BAMLC0A4CBBB':'BBB_OAS' , 
                   'BAMLEMCBPIOAS':'EM_OAS'}

all_vars = {**stock_market, **rates, **VIX, **money_credit}
final_D = pd.DataFrame()

for var in all_vars:
    var_freq = fred.get_series_info(var)
    series_tmp = fred.get_series(var, aggregation_method='eop')
    series_df_tmp = pd.DataFrame(series_tmp, columns=[all_vars[var]])
    if len(final_D)==0:
        final_D = series_df_tmp
    else:
        final_D = pd.concat([final_D,series_df_tmp],axis=1).dropna()

In [182]:
final_D

,SP500,Fed_Fund_Rate,Rate_1M,Rate_3M,Rate_6M,Rate_1Y,Rate_2Y,Rate_3Y,Rate_5Y,Rate_7Y,Rate_10Y,VIX,VIX_3M,Term_Spread,HY_OAS,IG_OAS,BBB_OAS,EM_OAS
2012-02-10,1342.64,0.12,0.05,0.09,0.12,0.15,0.27,0.36,0.81,1.36,1.96,20.79,23.28,1.69,6.35,2.15,2.71,4.59
2012-02-13,1351.77,0.12,0.06,0.11,0.14,0.15,0.29,0.40,0.85,1.40,1.99,19.04,22.12,1.70,6.27,2.14,2.70,4.56
2012-02-14,1350.50,0.12,0.09,0.12,0.15,0.18,0.29,0.40,0.81,1.34,1.92,19.54,22.82,1.63,6.27,2.13,2.69,4.56
2012-02-15,1343.23,0.12,0.09,0.11,0.13,0.18,0.29,0.38,0.81,1.34,1.93,21.14,24.12,1.64,6.27,2.14,2.69,4.55
2012-02-16,1358.04,0.11,0.04,0.10,0.13,0.17,0.29,0.42,0.87,1.41,1.99,19.22,23.17,1.70,6.26,2.15,2.69,4.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-03,4477.44,0.08,0.03,0.20,0.48,0.78,1.19,1.42,1.66,1.78,1.82,24.35,26.67,0.63,3.51,1.08,1.33,2.91
2022-02-04,4500.53,0.08,0.05,0.23,0.56,0.89,1.31,1.55,1.78,1.90,1.93,23.22,26.25,0.62,3.56,1.09,1.33,2.87
2022-02-07,4483.87,0.08,0.03,0.27,0.58,0.88,1.30,1.54,1.76,1.88,1.92,22.86,25.69,0.62,3.60,1.10,1.35,2.94
2022-02-08,4521.54,0.08,0.03,0.25,0.59,0.91,1.35,1.59,1.81,1.93,1.96,21.44,24.54,0.61,3.55,1.10,1.34,2.95
2022-02-09,4587.18,0.08,0.04,0.26,0.57,0.91,1.36,1.61,1.82,1.92,1.94,19.96,23.49,0.58,3.46,1.09,1.33,2.93

# Monthly Freq Data

In [166]:
consumer_sentiment = {'UMCSENT': 'Cons_Sent', 'CPIAUCNS': 'CPI'}

industrial_data = {'AMTMNO':'Manufacturing_New_Order'}

labor_market = {'UNRATE' : 'Unemployement_rate'}

case_shiller = {'CSUSHPINSA': 'Case Shiller'}

all_vars = {**consumer_sentiment,**industrial_data,**labor_market,**case_shiller}
final_M = pd.DataFrame()

for var in all_vars:
    var_freq = fred.get_series_info(var)
    series_tmp = fred.get_series(var, aggregation_method='eop')
    series_df_tmp = pd.DataFrame(series_tmp, columns=[all_vars[var]])
    if len(final_M)==0:
        final_M = series_df_tmp
    else:
        final_M = pd.concat([final_M,series_df_tmp],axis=1).dropna()

In [169]:
final_M

,Cons_Sent,CPI,Manufacturing_New_Order,Unemployement_rate,Case Shiller
1992-02-01,68.8,138.600,223500.0,7.4,75.654
1992-03-01,76.0,139.300,233732.0,7.4,75.813
1992-04-01,77.2,139.500,238173.0,7.4,76.079
1992-05-01,79.2,139.700,241916.0,7.6,76.397
1992-06-01,80.4,140.200,240660.0,7.8,76.602
...,...,...,...,...,...
2021-07-01,81.2,273.003,509490.0,5.4,265.579
2021-08-01,70.3,273.567,514637.0,5.2,268.893
2021-09-01,72.8,274.310,517066.0,4.7,271.440
2021-10-01,71.7,276.589,523433.0,4.6,273.653
2021-11-01,67.4,277.948,533104.0,4.2,276.123

# Quarterly Freq Data

In [175]:
GDP_based_indicators = {'JHDUSRGDPBR':'GDP_based_Recess_Ind', 'NA000334Q': 'GDP'}

all_vars = {**GDP_based_indicators}
final_Q = pd.DataFrame()

for var in all_vars:
    var_freq = fred.get_series_info(var)
    series_tmp = fred.get_series(var, aggregation_method='eop')
    series_df_tmp = pd.DataFrame(series_tmp, columns=[all_vars[var]])
    if len(final_Q)==0:
        final_Q = series_df_tmp
    else:
        final_Q = pd.concat([final_Q,series_df_tmp],axis=1).dropna()

In [176]:
final_Q

            GDP_based_Recess_Ind        GDP
1967-10-01                   0.0   228140.0
1968-01-01                   0.0   218405.0
1968-04-01                   0.0   234781.0
1968-07-01                   0.0   235737.0
1968-10-01                   0.0   251704.0
...                          ...        ...
2020-07-01                   0.0  5302337.0
2020-10-01                   0.0  5490052.0
2021-01-01                   0.0  5367754.0
2021-04-01                   0.0  5711844.0
2021-07-01                   0.0  5822816.0

[216 rows x 2 columns]

In [171]:
final_D.columns

Index(['SP500', 'Fed_Fund_Rate', 'Rate_1M', 'Rate_3M', 'Rate_6M', 'Rate_1Y',
       'Rate_2Y', 'Rate_3Y', 'Rate_5Y', 'Rate_7Y', 'Rate_10Y', 'VIX', 'VIX_3M',
       'Term_Spread', 'HY_OAS'],
      dtype='object')

In [172]:
final_M.columns

Index(['Cons_Sent', 'CPI', 'Manufacturing_New_Order', 'Unemployement_rate',
       'Case Shiller'],
      dtype='object')

In [173]:
final_Q.columns

Index(['GDP_based_Recess_Ind', 'GDP'], dtype='object')